.slide-leave-active,
.slide-enter-active {
	transition: 1s ease-in-out;
  opacity: 1;
}

.slide-enter {
	transform: translate(0, 100%);
  opacity: 0;
}

.slide-leave-to {
  transform: translate(0, -100vh);
  opacity: 0;
  position: absolute;
}

#wrapper {
  align-items:      center;
  display:          flex;
  flex-direction:   column;
  height:           100%;
  justify-content:  center;
  width:            100%;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50%;
  font-size: 6vw;
  transition: 1s ease-in-out;
}

.logo-on-login {
  height: 30%;
}

.ot {
  display: inline-block;
}

.logo-animation {
   -webkit-animation: color-change 1s ease-in-out;
      -moz-animation: color-change 1s ease-in-out;
        -o-animation: color-change 1s ease-in-out;
           animation: color-change 1s ease-in-out;
}

@media only screen and (min-device-width: 320px)
									 and (max-device-width: 812px) {

  .logo {
    font-size: 10vw;
  }

}

@media only screen and (min-device-width: 320px)
									 and (max-device-width: 812px)
									 and (orientation: landscape) {

   .logo {
     height: 60%;
   }

   .logo-on-login {
     transition: 1s ease-in-out;
     opacity: 0;
   }

   .slide-leave-to {
     position: inherit;
   }

}

@keyframes color-change {
  0%   { opacity: 0; transform:translateX(-100vh); }
  100% { opacity: 1; transform:translateX(0px);    }
}
@-o-keyframes flicker {
  0%   { opacity: 0; transform:translateX(-100vh); }
  100% { opacity: 1; transform:translateX(0px);    }
}
@-moz-keyframes flicker {
  0%   { opacity: 0; transform:translateX(-100vh); }
  100% { opacity: 1; transform:translateX(0px);    }
}
@-webkit-keyframes flicker {
  0%   { opacity: 0; transform:translateX(-100vh); }
  100% { opacity: 1; transform:translateX(0px);    }
}
