.slide-leave-active,
.slide-enter-active {
	transition: 1s ease-in-out;
  opacity: 1;
}

.slide-enter {
	transform: translate(0, 100%);
  opacity: 0;
}

.slide-leave-to {
  transform: translate(0, -100vh);
  opacity: 0;
  position: absolute;
}

#wrapper {
  align-items:      center;
  display:          flex;
  flex-direction:   column;
  height:           100%;
  justify-content:  center;
  width:            100%;
  overflow: hidden;
}


@media only screen and (min-device-width: 320px)
									 and (max-device-width: 812px)
									 and (orientation: landscape) {

   .slide-leave-to {
     position: inherit;
   }

}
