
#content {
	margin: 10px 2vw;
}

.heading {
	color: 			#ddd;
	font-size: 	7vw;
}

.row {
	color: 						inherit;
	display: 					flex;
	border-bottom: 		1px solid #fff;
	font-size: 				6vw;
	justify-content: 	space-between;
  text-align:       left;
}

.row div {
	padding: 10px;
}

.row .title {
	flex: 1;
}
