<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Raspy Self-Updater</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/device.css">
    <link rel="stylesheet" href="css/effects.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/fa-solid.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="menu">
        <div onclick="toggleMenu()">
          <span><i class="fas fa-terminal"></i><br/>Show Console</span>
        </div>
        <div onclick="call('update')">
          <span><i class="fas fa-cloud-download-alt"></i><br/>Update</span>
        </div>
        <div class="grouped" onclick="call('update')" style="">
          <div onclick="call('restart')"><span><i class="fas fa-redo-alt"></i><br/>Restart</span></div>
          <div onclick="call('stop')"><span><i class="fas fa-plug"></i><br/>Stop</span></div>
        </div>
        <div onclick="shutdown()">
          <span><i class="fas fa-power-off"></i><br/>Shutdown Updater</span>
        </div>
      </div>
      <div id="console">
        <div id="output">
          <pre>Running: Raspy Updater version 0.0.1...</pre>
          <pre id="cursor">$ <span class="blinking-cursor">_</span></pre>
        </div>
        <div id="menuButton">
          <div onclick="toggleMenu()">
            <span><i class="fas fa-caret-square-up"></i><br/>Show menu</span>
          </div>
          <div onclick="clearConsole()">
            <span><i class="fas fa-minus-square"></i><br/>Clear console</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
