
.row .button {
	cursor:			pointer;
	width: 			20vw;
	text-align: center;
}

.subscript {
	color: 			#ccc;
	font-size: 	4vw;
	overflow-x: scroll;
	padding: 		0 10px 0 0;
}

.row .discreet-button {
	cursor:			pointer;
	width: 			20vw;
	text-align: center;
}
