
#content {
	margin: 10px 2vw;
}

.heading {
	color: 			#ddd;
	font-size: 	5vw;
}

.row {
	color: 						inherit;
	display: 					flex;
	border-bottom: 		1px solid #fff;
	font-size: 				6vw;
	justify-content: 	space-between;
  text-align:       left;
}

.row div {
	padding: 10px;
}

.row .title {
	flex: 1;
}

.row .button {
	cursor:			pointer;
	width: 			20vw;
	text-align: center;
}

.subscript {
	color: 			#ccc;
	font-size: 	4vw;
	overflow-x: scroll;
	padding: 		0 10px 0 0;
}


.button {
	background: 		rgb(82, 172, 120);
	border-radius: 	5px;
	cursor:					pointer;
	font-size: 			5vw;
	margin-top: 		40px;
	padding: 				10px;

}

.row .discreet-button {
	cursor:			pointer;
	width: 			20vw;
	text-align: center;
}

.greyed {
	color: grey;
}

.options a {
  width: 100%;
  color: #fff;
  text-decoration: none;
}
