
#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20%;
}

input {
	border: 						1px solid #fff;
	border-radius: 			5px;
	display: 						block;
	font-family: 				'Avenir';
	font-size: 					5vw;
	padding: 						5px 20px 5px 20px;
  width:              60%;
	-webkit-appearance: none;
}

input:focus {
	outline: none;
}

.button {
  width:      60%;
  margin:     10px;
  padding:    10px 20px;
}
