* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

#menu {
  position: fixed;
  background: #2c3e50;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  height: 100%;
  width: 100%;
  top: 0%;
  transition: 0.5s;
  z-index: 99;
}

#menu div {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu > div {
  border-bottom: 1px solid #fff;
}

#menu div:hover {
  cursor: pointer;
}

#menu div.grouped {
  justify-content: space-around;
}

#menu div.grouped > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#menu div.grouped > div:first-child {
  border-right: 1px solid #fff;
}

#menuButton {
  height: auto;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  background: #2c3e50;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
}

#menuButton div {
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 2vw;
}

#menuButton div i {
  font-size: 3vw;
}

#console {
  background: #000;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
  font-size: 2vw;
  padding: 30px 20px  20px 20px;
  height: 100%;

}

#output {
  height: 90%;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#console pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
