.slide-down-leave-active,
.slide-down-enter-active {
	transition: 1s ease-in-out;
  opacity: 1;
}

.slide-down-enter {
	transform: translate(0, -100%);
  opacity: 0;
}

.slide-down-leave-to {
  transform: translate(0, 100vh);
  opacity: 0;
  position: absolute;
}

#header {
  position: absolute;
	font-family: 'Avenir';
	font-size: 	5vw;
  width: 100%;
	text-align: right;
}

.menu {
	background: 			rgb(82, 172, 120);
	display: 					flex;
	flex-direction: 	row;
	align-items: 			center;
  justify-content:  space-around;
	padding: 					10px;
}

.menu > a {
	color:						rgb(255,255,255);
	font-size: 				4vw;
	text-align: 			center;
	text-decoration: 	none;
  width: 100%;
}

.menu > a.active {
	color: yellow;
}

.menu > a.greyed {
	color: rgb(210, 210, 210);
}

@media screen and (max-width: 540px) {

	.menu > a {
		font-size: 6vw;
	}

}
